.text_us {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0%;
  text-align: center;
  padding: 5rem;
}
.need_text {
  font-family: "Roboto" sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 1.2rem;
}

.choose_us_section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 3rem;
  justify-items: center;
}

.choose_us_container {
  min-width: 20px;
  height: 16.25rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
}

.choose_us_img {
  width: 3.313rem;
  height: 3.375rem;
}

.tech_text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.choose_text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.reddish_bg {
  background-color: #fff3eb;
}
.navy_bg {
  background-color: #ecedff;
}
.light_blue_bg {
  background-color: #ffecf1;
}
.brownish_bg {
  background-color: #f6f6f6;
}
.pinkish_bg {
  background-color: #fffaec;
}
.greenish_bg {
  background-color: #fff3eb;
}
.brown_bg {
  background-color: #eefff3;
}
.white_bg {
  background-color: #ffecf1;
}
.grey_bg {
  background-color: #ecedff;
}
.bonik_container {
  flex-direction: column;
  align-items: center;
}
.bonik_img_container {
  width: 100%;
}
.bonik_img {
  width: 100%;
}
.text_need {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.apply_btn {
  border: 1px solid #e24329;
  border-radius: 1.563rem;
  background-color: #e24329;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  width: 100%;
  padding: 1rem;
  color: #ffffff;
  cursor: pointer;
}
.bonik_text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
}

.still_text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  /* padding: 2rem; */
}
.source_text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #444b51;
  line-height: 26px;
  text-align: center;
}
.carbon_add_container {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 2rem;
}

@media (min-width: 1200px) {
  .choose_us_section {
    display: flex;
    flex-direction: row;
  }
  .bonik_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8rem 9.563rem;
  }
  .bonik_text {
    text-align: start;
  }
  .text_need {
    text-align: start;
  }

  .apply_btn {
    padding: 1rem;
  }
  .apply_btn {
    width: 50%;
    padding: 1rem;
    color: #ffffff;
    cursor: pointer;
  }

  .carbon_add_container {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}
