.hero_section {
  display: flex;
  flex-direction: column;
  background-color: #e24329;
  padding: 5.5rem 1rem;
  border-radius: 0 0 3rem 3rem;
}
.delivery_text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  line-height: 32px;
  margin-bottom: 1.875rem;
}
.destination_text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  text-align: center;
  color: #ffffff;
  line-height: 1.625rem;
  margin-bottom: 2.5rem;
  /* max-width: 700px; */
}
.hero_image {
  /* order: -1; */
  width: 100%;
}
.tracking_container {
  display: flex;
}
input {
  flex: 1;
  background-color: #ffffff;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  border-radius: 1.875rem 0 0 1.875rem;
  padding: 1rem;
  width: 100%;
}
input::placeholder {
  color: #bababa;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0%;
}
.parcel_btn {
  background-color: #ff6a00;
  border: 1px solid #ff6a00;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0 1.875rem 1.875rem 0;
  cursor: pointer;
  padding: 1rem;
  color: #ffffff;
}
.hero_image_container {
  width: 100%;
}
.parcel_btn:hover {
  background-color: #e96b00;
}
.card_section {
  display: none;
}
/* media query for 1200px */
@media (min-width: 1200px) {
  .hero_section {
    flex-direction: row;
    align-items: center;
    padding: 5.625rem 6.125rem 9.563rem;
  }

  .delivery_text {
    font-size: 48px;
    text-align: start;
    line-height: 4.25rem;
  }
  .destination_text {
    text-align: start;
    margin-bottom: 3.625rem;
  }
  .tracking_container {
    width: 35.625rem;
    height: 3.75rem;
  }

  /* BUTTON */
  .parcel_btn {
    padding: 1rem 2rem;
  }
  .card_section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    position: absolute;
    bottom: -10rem;
  }
  .pick_drop_img_container {
    border: 1px;
    border-radius: 50%;
    width: 3.75rem;
    height: 3.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .orange_bg {
    background-color: #ff6a00;
  }
  .wine_bg {
    background-color: #e24329;
  }
  .blue_bg {
    background-color: #2d9cdb;
  }
  .pink_bg {
    background-color: #ff3366;
  }

  /* Card styles */
  .pick_drop_card {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1.25rem 3.125rem 1.25rem 1.25rem;
    min-width: 250px;
  }

  .pick_drop_img {
    width: 2.375rem;
    height: 2.375rem;
  }

  .booking_text {
    font-family: "Roboto", sans-serif;
    color: #333;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
  .pick_drop_text {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }
}
